@charset "utf-8";


/************************/
/* Estilo RagaSoft      */
/* RagaSoft.com			*/
/* 02-01-2013           */
/************************/

body {
	margin: 			0;
	padding:			0;
	background-color:	white;/*#F7F7F7;*//*#A6CEEA;*/
	/*font-family: 		"Palatino Linotype", Verdana, Arial, Helvetica, sans-serif; /*"Baskerville Old Face" */
	font-family: 		Verdana, Arial, Helvetica, sans-serif; /*"Baskerville Old Face"*/
	font-size: 			13px;
	background-color: 	white;/*#301E1A;*/
}

section, article, aside, footer, header, nav, hgroup {
       display: block;
}

p{
	margin:				0;
	padding:			0;
}

a{
	text-decoration: 	none;
	outline: 0;
}


.superCaja, #idSuperCaja{
	width: 					1000px;
	height:					635px;
	margin:					20px auto 20px auto;
	-moz-border-radius:		10px;
	-webkit-border-radius: 	10px;
	border:1px solid #333;
	
}

.divCaja, #idCaja{
	width: 					1000px;
	min-height:				635px;
	margin:					0px auto 0 auto;
	background-image:		url('../img/bg/bgFIRE.png');
	background-repeat:		repeat-x;
	background-color:		white;/*#FF6600;*/
	background-position:	0px 0px;
	-moz-border-radius:		10px;
	-webkit-border-radius: 	10px;
	
}


/************************************************************** BASE */

.divFrnjaSuperior{
	float:	left;
	width:	1000px;
	height:	170px;
	/*border-bottom:1px solid white;*/
}
.divLogo{
	float:	left;
	width:	600px;
	height:	120px;
	margin:	7px 0 0px 35px;
	padding: 0px;
}
.divSubLogo{
	float:	right;
	width:	78px;
	height:	104px;
	margin:	27px 35px 0px 0px;
	/*border-bottom:1px solid black;*/
}

.divIndice{
	float: right;
	height:20px;
	margin:95px 20px 0 0;
	padding:5px 0 0 0;
	font-size:18px;
	color: #FF6600;
	text-shadow: 0 1px 1px #000;
	/*border-bottom:1px solid black;*/
}

.divMenuSuperior{
	float:				left;
	height: 			30px;
	width: 				950px;
	margin:				5px 0 0 25px;
	/*background-color:	transparent;*/
	/*background-color:	#000000;*/
	/*color:				#592D04;*/
	color:				#FF6600;
	font-size: 			14px;
	border-top:			1px solid #FFFFFF;
	border-bottom: 		1px solid #FFFFFF;
}


.linkMenu1Primero{
	float:				left;
	margin:				1px 0 0 62px;
	padding:			5px 13px 5px 27px;
	color:				#000000;
	background-color:	transparent;
	text-decoration: 	none;
	font-weight:		normal;
	text-shadow: 		0 1px 1px #333;
}

.linkMenu1{
	float:				left;
	margin:				1px 0 0 0px;
	padding:			5px 27px 5px 27px;
	font-weight:		normal;
	font-size:			14px;
	color:				#000000;
	background-color:	transparent;
	text-decoration: 	none;
	text-shadow: 		0 1px 1px #333; 
}


.linkMenu1Primero:hover, .linkMenu1:hover, .linkMenu1Primero:focus, .linkMenu1:focus{
	color:				#FFFFFF;
	text-shadow: 		0 1px 1px #000;
}

.divCentral{
	float:	left;
	width:	1000px;
	height:	465px;
	/*border: 1px solid white;*/
}

/*********************************************************** CAPA CONTENIDO */

.divContenido{
	float:	left;
	height:	396px;
	width:	920px;
	margin:	32px 0 0 39px;
	background-color: white;
	border: 1px solid #AFB2A8;
	/*-moz-border-radius:	5px;
	-webkit-border-radius: 5px;*/
	
	-moz-border-radius-topleft: 5px 5px;
	-moz-border-radius-topright: 5px 5px; /*60px 60px;*/
	-moz-border-radius-bottomright: 5px 5px;
	-moz-border-radius-bottomleft: 5px 5px; /*60px 60px;*/
	
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px; /*60px 60px;*/
	-webkit-border-bottom-right-radius: 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px; /*60px 60px;*/
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


/******************************************************************* INICIO */

#idContenidoInicio{
	background-color: #D2D2D2;
	padding: 10px 20px 0px 20px;
	width:880px;
	height:	386px;
}

.divOpcionContenido{
	float: left;
	width: 200px;
	height: 260px;
	margin: 57px 10px 0 10px;
	/*border:1px solid #D2D2D2;*/
	background-color: white;
	background-image: url("../img/bg/bgOpc.png");
	background-position: 0 193px;
	background-repeat: no-repeat;
	
	-moz-border-radius-topleft: 5px 5px;
	-moz-border-radius-topright: 5px 5px;
	-moz-border-radius-bottomright: 5px 5px;
	-moz-border-radius-bottomleft: 5px 5px;
	
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px;
	
	box-shadow: 		2px 2px 5px #333;
	-moz-box-shadow: 	2px 2px 5px #333;
	-webkit-box-shadow: 2px 2px 5px #333;
	-webkit-box-shadow: 0px 0px 5px #333;
}


.divOpcionContenido img{
	float: left;
	height: 64px;
	width: 64px;
	padding: 0;
	margin: 10px 0 0 10px;
}
.miniTituloOpcion{
	float: left;
	width: 116px;
	height: 15px;
	padding: 0;
	margin: 35px 0 0 10px;
	color: #405C95;
}
.tituloOpcion{
	float: left;
	width: 116px;
	height: 15px;
	padding: 0;
	margin: 0px 0 0 10px;
	font-weight: bold;
	font-size: 15px;
	color: #405C95;
}

.descripcionOpcion{
	float: left;
	width: 180px;
	height: 55px;
	padding: 0;
	margin: 20px 10px 0 10px;
	font-size: 11px;
}

.divOpcionContenido a { 
	float:left;
	width: 70px;
	height: 15px;
	margin: 30px 0 0 55px; 
	padding: 2px 0px 5px 20px; 
	font-family: Verdana, Arial; 
	font-size: 13px; 
	text-decoration: none; color: #ffffff; 
	text-shadow: -1px -1px 2px #465f97;
	background-color: #245192;
	background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d)); 
	border: 1px solid #0f2557;
	border-radius: 3px; -moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
}
.divOpcionContenido a:hover { 
	text-shadow: -1px -1px 2px #618926;
	background-color: #98ba40; 
	background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98ba40),color-stop(.35, #a6c250),color-stop(1, #618926)); 
	border: 1px solid #618926;  
}

/******************************************************************* NOTIFICACIONES */

#idContenidoNotificaciones{
	background-color: #FFFFFF;
	padding: 10px 20px 0px 20px;
	width:880px;
	height:	386px;
	overflow-y: auto;
}

.tablaNotificaciones{
	width: 880px;
	padding: 0;
	margin: 0 0 10px 0;
}

.tablaNotificaciones th{
	text-align: left;
	height: 25px;
}
.trNotifPar{background-color: #DDD;}
.trNotifImpar{background-color: white;}

.tablaNotificaciones td{
	height: 25px;
	margin: 0;
	font-size: 11px;
}

.tdImgTipo{
	text-align: left;
}

.tdImgTipo img{
	margin: 2px 0 0 8px;
	padding: 0;
}

.tdAfectat{
	padding: 0 0 0 10px;
}
#thConfirmar, .tdConfirmar{
	text-align: center;
}

.tdPeriode{
	padding-left: 50px;
}

.linkConfirmar { 
	width: 100px;
	height: 10px;
	margin: 0px 0 0 0; 
	padding: 2px 8px 3px 8px; 
	font-family: Verdana, Arial; 
	font-size: 10px; 
	text-decoration: none; color: #ffffff; 
	text-shadow: -1px -1px 2px #465f97;
	background-color: #245192;
	background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d)); 
	border: 1px solid #0f2557;
	border-radius: 3px; -moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
}
.linkConfirmar:hover { 
	text-shadow: -1px -1px 2px #618926;
	background-color: #98ba40; 
	background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98ba40),color-stop(.35, #a6c250),color-stop(1, #618926)); 
	border: 1px solid #618926;  
}

.imgLoadNotificaciones{
	float: left;
	width: 31px;
	height: 31px;
	margin: 160px 0 0 425px;
}

.imgLoadingConfirmar{
	width: 22px;
	height: 22px;
}

/******************************************************************* INFO SIMULACION */

.divInfoSimulacion{
	float: left;
	width: 675px;
	height: 100px;
	background-color: #D3DD9C;
	margin: 10px 0px 10px 100px;
	
	-moz-border-radius-topleft: 5px 5px;
	-moz-border-radius-topright: 5px 5px;
	-moz-border-radius-bottomright: 5px 5px;
	-moz-border-radius-bottomleft: 5px 5px;
	
	-webkit-border-top-left-radius: 5px 5px;
	-webkit-border-top-right-radius: 5px 5px;
	-webkit-border-bottom-right-radius: 5px 5px;
	-webkit-border-bottom-left-radius: 5px 5px;
	
	box-shadow: 		2px 2px 5px #333;
	-moz-box-shadow: 	2px 2px 5px #333;
	-webkit-box-shadow: 2px 2px 5px #333;
	-webkit-box-shadow: 0px 0px 5px #333;
}

.divInfoSimulacion img{
	float: left;
	width: 64px;
	/*height: 64px;*/
	margin: 10px 0 0 20px;	
}

.divInfoSimulacion p{
	float: left;
	width: 540px;
	height: 80px;
	margin: 15px 0 0 20px;
	text-align: justify;
}

.pPasoSimulacion{
	float: left;
	width: 200px;
	height: 26px;
	font-size: 14px;
	font-weight: bold;
	color: #0F2557;
	margin: 10px 0 0 330px;
	padding: 6px 0 0 45px;
	
	background-image: url("../img/bolas.png");
	background-position: 0 0px;
	background-repeat: no-repeat;
	
}

.divBotonesSimulacion{
	float: left;
	width: 675px;
	height: 93px;
	margin: 0px 0px 10px 100px;
}


.linkInicio { 
	float:left;
	width: 120px;
	height: 30px;
	margin: 25px 0 0 90px; 
	padding: 10px 0px 5px 80px; 
	font-family: Verdana, Arial; 
	font-size: 18px; 
	text-decoration: none; color: #ffffff; 
	text-shadow: -1px -1px 2px #465f97;
	background-color: #245192;
	background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d)); 
	border: 1px solid #0f2557;
	border-radius: 3px; -moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
}
.linkInicio:hover { 
	text-shadow: -1px -1px 2px #618926;
	background-color: #98ba40; 
	background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98ba40),color-stop(.35, #a6c250),color-stop(1, #618926)); 
	border: 1px solid #618926;  
}


.linkSimular { 
	float: right;
	width: 135px;
	height: 30px;
	margin: 25px 90px 0 0px; 
	padding: 10px 0px 5px 65px; 
	font-family: Verdana, Arial; 
	font-size: 18px; 
	text-decoration: none; color: #ffffff; 
	text-shadow: -1px -1px 2px #465f97;
	background-color: #245192;
	background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d)); 
	border: 1px solid #0f2557;
	border-radius: 3px; -moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
}
.linkSimular:hover { 
	text-shadow: -1px -1px 2px #618926;
	background-color: #98ba40; 
	background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98ba40),color-stop(.35, #a6c250),color-stop(1, #618926)); 
	border: 1px solid #618926;  
}

.linkSimularBloqueado { 
	float: right;
	width: 135px;
	height: 30px;
	margin: 25px 90px 0 0px; 
	padding: 10px 0px 5px 65px; 
	font-family: Verdana, Arial; 
	font-size: 18px; 
	text-decoration: none; color: #ffffff; 
	background-color: #666;
	background: -moz-linear-gradient(#666, #666 75%, #666); 
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #666),color-stop(.0, #666),color-stop(1, #666)); 
	border: 1px solid #666666;
	border-radius: 3px; -moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
}
.linkSimularBloqueado:hover { 
	cursor: default;
}



/******************************************************************* INCENDIO */

#idContenidoIncendio{
	background-color: white;
	padding: 10px 20px 0px 20px;
	width:880px;
	height:	386px;
}

/******************************************************************* CAIDA */

#idContenidoCaida{
	background-color: white;
	padding: 10px 20px 0px 20px;
	width:880px;
	height:	386px;
}

/******************************************************************* TARDANZA */

#idContenidoTardanza{
	background-color: white;
	padding: 10px 20px 0px 20px;
	width:880px;
	height:	386px;
}

/******************************************************************* AYUDA */

#idContenidoAyuda{
	background-color: white;
	padding: 10px 20px 0px 20px;
	width:880px;
	height:	386px;
	overflow: auto;
}

#idContenidoAyuda p{
	text-align: justify;
}

.textoTab{
	margin: 5px 0 0 40px;
}

.imgAbuelos{
	float:right;
	margin: 75px 10px 5px 20px;
}

.tituloApartado{
	color: #990000;
}

/********************************************************************** LOCALIZACION */

.divMapaLocalizacion{
	float: left;
	width: 600px;
	height: 340px;
	margin: 27px 0 0 27px;
	/*border:1px solid #E1D8B9;*/
}

.divDatosLocalizacion{
	float: left;
	width: 235px;
	height: 340px;
	margin: 28px 0 0 25px;
	text-align: center;
	/*border:1px solid black;*/
}

.pTituloLocalizacion{
	color: #990000;
	margin: 10px 0 2px 0;
	font-style: italic;
	/*text-decoration:underline;*/
	font-size: 15px;
}

.pTextoLocalizacion a{
	color: black;
}
.pTextoLocalizacion a:hover{
	text-shadow: 		0 1px 5px #555;
}
/******************************************************************* CONTACTO */

#idContenidoContacto{
	background-image: none;
}

.divFormularioContacto{
	float: left;
	width: 600px;
	height: 340px;
	margin: 27px 0 0 27px;
}

.divDatosLocalizacionContacto{
	float: left;
	width: 235px;
	height: 340px;
	margin: 28px 0 0 25px;
	text-align: center;
	/*border:1px solid black;*/
}

.divAlertaMail{
	float: left;
	width: 213px;
	height: 55px;
	margin: 35px 0 0 0;
	padding: 20px 10px 0 10px;
	color: #990000;
	-moz-border-radius:	3px;
	-webkit-border-radius: 3px;
	
}

.divFormularioContacto p, .divColumna2Contacto p{
	font-size: 13px;
	text-align: justify;
	color: #333333;
	margin: 20px 0 0 90px;
	/*border: 1px solid black;*/
}

.formularioContacta{
	float:left;
	width: 600px;
	height: 180px;
	margin: 30px 0 0 0;
}

.labelNombre{
	float: left;
	width: 80px;
	height: 14px;
	text-align: right;
	margin: 20px 10px 0 0;
	color: #990000;
}

.labelCorreo{
	float: left;
	width: 65px;
	height: 14px;
	text-align: right;
	margin: 20px 10px 0 0;
	color: #990000;
}
.labelComentario{
	float: left;
	width: 80px;
	height: 14px;
	margin: 20px 10px 0 0;
	text-align: right;
	color: #990000;
}

.cajaContactaNombre{
	float: left;
	width: 180px;
	height: 14px;
	margin: 20px 0 0 0;
	padding: 1px 5px 1px 5px;
	border: 1px solid #333;
	font-size: 12px;
	-moz-border-radius:	3px;
	-webkit-border-radius: 3px;
	box-shadow: 5px 5px 2px black;
	-moz-box-shadow: 5px 5px 2px #666666;
	-webkit-box-shadow: 5px 5px 2px black;
	font-family: "Palatino Linotype", Verdana, Arial, Helvetica, sans-serif;
}
.cajaContactaCorreo{
	float: left;
	width: 210px;
	height: 14px;
	margin: 20px 0 0 0;
	padding: 1px 5px 1px 5px;
	border: 1px solid #333;
	font-size: 12px;
	-moz-border-radius:	3px;
	-webkit-border-radius: 3px;
	box-shadow: 5px 5px 2px black;
	-moz-box-shadow: 5px 5px 2px #666666;
	-webkit-box-shadow: 5px 5px 2px black;
	font-family: "Palatino Linotype", Verdana, Arial, Helvetica, sans-serif;
}
.cajaContactaComentario{
	float:left;
	width: 480px;
	height: 90px;
	margin: 20px 0 0 0;
	padding: 5px 1px 1px 5px;
	border: 1px solid #333;
	font-size: 12px;
	-moz-border-radius:	3px;
	-webkit-border-radius: 3px;
	box-shadow: 5px 5px 2px black;
	-moz-box-shadow: 5px 5px 2px #666666;
	-webkit-box-shadow: 5px 5px 2px black;
	font-family: "Palatino Linotype", Verdana, Arial, Helvetica, sans-serif;
}

.inputEnvia{
	float:left;
	width:50px;
	height:23px;
	margin: 3px 0 0 532px;
	background-color: transparent;
	border:none;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	color: #990000;
	font-family: "Palatino Linotype", Verdana, Arial, Helvetica, sans-serif;
}

.inputEnvia:hover, .inputEnvia:focus{
	text-shadow: 0 1px 2px #666666;
	cursor: pointer;
}

/***************************************************************** TEXTO */
.spanMayus{
	color: #990000;
	font-style: italic;
	font-size: 22px;
}

.pTituloMini{
	color: #990000;
	margin: 10px 0 2px 0;
	font-style: italic;
	font-size: 15px;
}
